<!DOCTYPE html>
<html>
  <head>
    <meta charset='utf-8'>
    <meta http-equiv="X-UA-Compatible" content="chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <!-- <link href='https://fonts.googleapis.com/css?family=Architects+Daughter' rel='stylesheet' type='text/css'> -->
    <link rel="stylesheet" type="text/css" href="../../../stylesheets/stylesheet.css" media="screen" />
    <link rel="stylesheet" type="text/css" href="../../../stylesheets/pygment_trac.css" media="screen" />
    <link rel="stylesheet" type="text/css" href="../../../stylesheets/print.css" media="print" />

    <!--[if lt IE 9]>
    <script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

    <title>{{ page.title }}</title>
  </head>

  <body style="color:#575757">
 
    <div id="content-wrapper">
      <div class="inner clearfix">
        <section id="main-content">

　　<h1>{{ page.title }}</h1>

<p style="color:#aaaaaa; "><img src="../../../images/clock.png" width="13" height="13" alt="Date" /> {{ page.date | date_to_string }} <img src="../../../images/tag.png" width="13" height="13" alt="Date" /> {{ page.tag }} </p>

<p style="color:#aaaaaa;">{{content}}</p>

<p></p>

<h4>Newer: 
<a name="{{ site.baseurl }}{{ page.next.url }}" class="anchor" href="{{ site.baseurl }}{{ page.next.url }}"><span class="octicon octicon-link">{{page.next.title}}</span></a></h4>
<h4>Older: 
<a name="{{ site.baseurl }}{{ page.previous.url }}" class="anchor" href="{{ site.baseurl }}{{ page.previous.url }}"><span class="octicon octicon-link">{{page.previous.title}}</span></a></h4>

          <div id="disqus_thread"></div>
          <script type="text/javascript">
              /* * * CONFIGURATION VARIABLES: EDIT BEFORE PASTING INTO YOUR WEBPAGE * * */
              var disqus_shortname = 'flygfch'; // Required - Replace example with your forum shortname

              /* * * DON'T EDIT BELOW THIS LINE * * */
              (function() {
                  var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
                  dsq.src = '//' + disqus_shortname + '.disqus.com/embed.js';
                  (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
              })();
          </script>
          <noscript>Please enable JavaScript to view the <a href="http://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
          

<footer align="center">
  <p>Author: Gfch Contact me via: <a href="mailto:flygfch@.com">flygfch@163.com</a>.</p>
</footer>



        </section>

       <aside id="sidebar">

          <p class="repo-owner"><a href="/blog/">&lt;&lt; Back to Home</a></p>
          <p></p>

          <img src="../../../images/head.png" width="200" height="170" alt="gfch" />
          <p></p>
         
          <p class="repo-owner"><a href="https://github.com/gfch/blog">Gfch's home</a> is maintained by <a href="https://github.com/gfch">gfch</a>.</p>

          <p class="repo-owner">I will always be a student of everything.</p>
          <p class="repo-owner">Sometimes I lose myself in this world, and can't find myself for a long time.</p>
          <p class="repo-owner">Always hope a better world.</p>
          <p class="repo-owner"><a href="/blog/">About Me</a></p>

        </aside>
      </div>
    </div>

  
  </body>
</html>